<div id="body">
<header>
	<img src="https://images.mint.com/web-client/images/mint_logo.png">
	<ul id="sign_in">
		<li class="login">Log in</li>
		<li class="login"><strong>Sign up</strong></li>
	</ul>
</header>

<section>
	<article>
			<h2>See all your finances in one </h2>
			<h2>place & create a budget</h2>
			<br>
		
		<%= form_for @user do |f| %>
			<%= f.label "Username" %>
			<%= f.text_field :username, class: "text" %>
			<br><br>
			<%= f.label "e-mail" %>
			<%= f.text_field :email, class: "text" %>
			<br><br>
			<%= f.label "Password" %>
			<%= f.password_field :password, class: "text" %>
			<br><br>
			<%= f.submit "SIGN UP", class: "button" %>
		<% end %>
		<!--
		
		-->
		<!--
		<form action="/users" method="post" accept-charset="UTF-8">
			<label>Username</label>
			<input class="text" type="text" name="user[username]" required><br>
			<br>
			<label>e-mail</label>
			<input class="text" type="email" name="user[email]" required><br>
			<br>
			<label>Password</label>
			<input class="text" type="Password" name="user[password]"><br>
			<br>
			<!--
			<label>Confirm password</label>
			<input class="text" type="Password" name="user[password]"><br>
			<br>
			
			<input id="checkbox" type="checkbox" name="remember" value="true" style="display: block; float: left">
			<label style="display: inline" id="check">Remember me</label>
			<input type="hidden" name="authenticity_token" 
					value="<%= form_authenticity_token %>">
			<button type="submit" name="submit">SIGN UP</button>
		</form>
		-->
	</article>
	<aside><div id="aside">
		<h4 id="aside-header">Why you'll love it</h4>
		<ul id="asd">
    		<li class="reasons">See all your accounts in one place</li>
    		<li class="reasons">Set a budget and pay down your debt</li>
   			<li class="reasons">Find the best ways to grow your money</li>
    		<li class="reasons">Stay safe and secure</li>
    	</ul>
	</div></aside>
</section>
<footer><center>
	<ul id="foot">
		<li class="footer">Support</li>
		<li class="footer">Terms of Use</li>
		<li class="footer">Privacy</li>
		<li class="footer">Legal and Trademark Notices</li>
		<li class="footer">About Intuit</li>
	</ul></center>
</footer>
</div>